<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <form action="outputs.html">
        <input type="submit" value="View Archários Reports">
    </form>
    <form action="terminal.html">
        <input type="submit" value="Enter command remotely using web interface">
    </form>
    </br>
    <form action="logout.py">
        <input type="submit" value="Logout">
    </form>
    </br>
    <h3>NOTE: This interface may be unstable so use <b>WITH CAUTION</b>!</h3>
    </br>
    <p>{{copyright}}</p>
</body>
