<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <p>===============</p>
    {% for line in data %}
        <p>{{line}}</p>
    {% endfor %}
    <p>===============</p>
    </br>
    <p>{{copyright}}</p>
    <form action="/" method="GET"><input type="submit" value="Back to homepage"></form>
</body>
